body{margin:0;font-family:Arial;background:#fff3df;color:#4b260f}header{background:#3b1808;color:#fff;padding:25px;text-align:center}button{background:#e9ad24;border:0;padding:10px;border-radius:10px;font-weight:bold}.hero{background:#6b3516;color:white;text-align:center;padding:50px}main{display:flex;gap:20px;padding:20px}.produto,aside{background:white;padding:20px;border-radius:20px;margin:15px;box-shadow:0 2px 10px #bbb}aside{min-width:250px;height:max-content}@media(max-width:700px){main{flex-direction:column}}
.banner {
  text-align: center;
  margin: 20px 0;
}

.banner img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
